<tr>
  <td><%= link_to apartment.unit_number, property_apartment_path(@property, apartment) %></td>
  <td><%= apartment.renovation_type %></td>
  <td><%= apartment.floor_plan %></td>
  <td><%= apartment.status %></td>
  <td><%= apartment.ntv.strftime("%m/%d/%y") %></td>
  <td><%= apartment.measure_date.strftime("%m/%d/%y") %></td>
  <td><%= apartment.moveout_date.strftime("%m/%d/%y") %></td>
  <td><%= apartment.construction_start_date.strftime("%m/%d/%y") %></td>
  <td><%= apartment.turnover_date.strftime("%m/%d/%y") %></td>
  <td><%= link_to 'Edit', edit_property_apartment_path(@property, apartment), class: 'btn btn-warning btn-xs' %></td>
  <td><%= link_to 'Delete', property_apartment_path(@property, apartment), method: :delete, class: 'btn btn-danger btn-xs', id: "delete_apartment_#{apartment.id}" %></td>
  <td><%= link_to 'Details', property_apartment_path(@property, apartment), class: 'btn btn-default btn-xs', id: "delete_apartment_#{apartment.id}" %></td>
</tr>
