<tr>
  <td><%= apartment.unit_number %></td>
  <td><%= apartment.beds %></td>
  <td><%= apartment.baths %></td>
  <td><%= apartment.unit_location %></td>
  <td><%= apartment.garage %></td>
  <td><%= apartment.garage_number %></td>
  <td><%= apartment.renovation_type %></td>
  <td><%= apartment.floor_plan %></td>
  <td><%= link_to 'Edit', edit_property_apartment_path(@property, apartment), class: 'btn btn-warning btn-xs' %></td>
</tr>
