<div class="container-fluid">
  <div class="page-header">
    <div class="btn-toolbar">
      <%= link_to "Back to units at #{@property.name}", property_apartments_path, class: 'btn btn-default' %>
    </div>
  </div>

  <div class="container">
    <div class="row">
        <h3>Unit Details</h3>
      <div class="col-sm-10 col-sm-offset-2">
        <div class="list-group">
          <ul class="col-md-8 list-unstyled">
            <li class="list-group-item"><strong>Unit Number: </strong><%= best_in_place [@property, @apartment], :unit_number %></li>
            <li class="list-group-item"><strong>Beds: </strong> <%= best_in_place [@property, @apartment], :beds %></li>
            <li class="list-group-item"><strong>Baths: </strong> <%= best_in_place [@property, @apartment], :baths %></li>
            <li class="list-group-item"><strong>Unit Location: </strong> <%= best_in_place [@property, @apartment], :unit_location %></li>
            <li class="list-group-item"><strong>Garage: </strong> <%= best_in_place [@property, @apartment], :garage, as: :checkbox, :collection => %w(True False)  %></li>
            <li class="list-group-item"><strong>Garage Number: </strong> <%= best_in_place [@property, @apartment], :garage_number %></li>
            <li class="list-group-item"><strong>Floor Plan: </strong> <%= best_in_place [@property, @apartment], :floor_plan %></li>
            <li class="list-group-item"><strong>Renovation Type: </strong> <%= best_in_place [@property, @apartment], :renovation_type %></li>
          </ul>
        </div>
      </div>
    </div>
    <br>
  </div>
</div>